In [6]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import time

# Choose the executable path to driver (Windows Users)
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [7]:
# visit the NASA Mars News site and scrape headlines
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
time.sleep(1)

In [8]:
# Parse Results HTML with BeautifulSoup
news_html = browser.html
news_soup = bs(news_html,'html.parser')
#print(news_soup)

In [9]:
# Scrape the Latest News Title
slide_element = news_soup.select_one("ul.item_list li.slide")
#slide_element.find("div", class_="content_title")

news_title = slide_element.find("div", class_="content_title").get_text()
print(f"The latest news title is: {news_title}")

The latest news title is: MOXIE Could Help Future Rockets Launch Off Mars

In [67]:
# Scrape the Latest Paragraph Text
news_paragraph = slide_element.find("div", class_="article_teaser_body").get_text()
print(f"The latest news paragraph is: {news_paragraph}")

The latest news paragraph is: NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.

In [68]:
# Visit the JPL website and scrape the featured image
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)
time.sleep(1)

In [69]:
# Ask Splinter to Go to Site and Click Button with Class Name full_image
full_image_button = browser.find_by_id("full_image")
full_image_button.click()

In [70]:
# Find "More Info" Button and Click It
browser.is_element_present_by_text("more info", wait_time=1)
more_info_element = browser.find_link_by_partial_text("more info")
more_info_element.click()

In [71]:
# Parse Results HTML with BeautifulSoup
html = browser.html
image_soup = bs(html, "html.parser")

In [72]:
img_url = image_soup.select_one("figure.lede a img").get("src")
img_url

'/spaceimages/images/largesize/PIA14934_hires.jpg'

In [73]:
# Use Base URL to Create Absolute URL
img_url = f"https://www.jpl.nasa.gov{img_url}"
print(img_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14934_hires.jpg

In [87]:
mars_df= pd.read_html("https://space-facts.com/mars/")[0]
mars_df.columns= ["Description", "Value"]
mars_df.set_index("Description", inplace=True)

mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [97]:

mars_df_html= mars_df.to_html(header= False, index= False)
mars_df_html

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [89]:
 hemisphere_image_urls = [
 {"title": "Cerberus Hemisphere", "img_url":"https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
  {"title": "Valles Marineris Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"} 
 ]

In [90]:
 hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}]

In [95]:
empty_dict = {"Image":img_url}
print(empty_dict)

empty_dict["Image"]

{'Image': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14934_hires.jpg'}

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14934_hires.jpg'